/*
 * Fornece um ponteiro pronto para uso para a folha de estilos padrão do Trix,
 * que formatará a barra de ferramentas e o conteúdo do trix-editor
 * (seja exibido ou em edição). Fique à vontade para incorporar essa
 * inclusão diretamente em qualquer outro pacote de assets e remover este arquivo.
 *
 *= require trix
*/

/*
 * Precisamos sobrescrever os estilos de galeria de imagens do trix.css para
 * acomodar o elemento <action-text-attachment> que encapsulamos em torno dos anexos.
 * Caso contrário, imagens em galerias serão comprimidas pela regra max-width: 33%.
 */

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

